.env
venv
__pycache__
prueba-concepto/data/

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
**/build/
**/out/
**/.gradle/

### IDEs y editores ###
.idea/
*.iml
*.ipr
*.iws
.vscode/

### Archivos específicos vistos en tu imagen ###
**/gc.properties
**/checksums.lock
**/md5-checksums.bin
**/sha1-checksums.bin
**/last-build.bin
**/fileHashes.lock
**/buildOutputCleanup.lock
**/cache.properties
